                /* global */
                * {
                    padding: 0px;
                    margin: 0px;
                    font-family: "Oswald", sans-serif;
                    box-sizing: border-box;
                }

                .container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                }

                a {
                    text-decoration: none;
                    color: black;
                }
                ul, li{
                    list-style: none;
                }

                /* 1/3rd section */
                .first-third {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1rem;
                    align-items: center;
                    text-align: left;
                    width: 100%;
                }

                .first-third img {
                    width: 100%;


                }
                .black-block{
                    display: none;
                }

                .first-third h1 {
                    text-transform: uppercase;
                    font-weight: 700;
                    line-height: 3rem;
                    font-size: 3rem;
                    padding: 0rem 1rem;
                    margin: 1rem 0rem;
                }

                .first-third p {
                    font-size: 1.5rem;
                    font-weight: 300;
                    line-height: 1.5;
                    color: gray;
                    padding: 0 1rem;
                }

                .color-split-link {
                    display: grid;
                    grid-template-columns: 3fr 1fr;
                    width: 80%;
                    font-size: 1rem;
                    color: white;
                    align-self: start;
                    margin-left: 1rem;
                    margin-top: 1rem;
                    text-align: center;
                    border: none;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }

                .left-side {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgb(21, 20, 20);                    
                    padding: 1rem;
                }

                .right-side {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #f7965e;
                    color: black;
                }

                /* section 2/3 */
                .second-third {
                    display: grid;
                    gap: 2rem;
                    width: 100%;
                    grid-template-columns: 1fr;
                    margin: 4rem 0rem;
                    padding: 0rem 1rem;
                    text-align: left;
                }

                .second-third img {
                    width: 100%
                }

                .second-third h1 {
                    text-transform: uppercase;
                    font-weight: 700;
                    line-height: 3rem;
                    font-size: 3rem;
                }

                .second-third p {
                    font-weight: 100;
                    line-height: 1.5;
                    color: darkgrey;
                    margin-top: 2rem;
                    font-size: 1.5rem;
                }

                .highlight-lower {
                    background: rgb(21, 20, 20);                    
                    color: white;
                    padding: 2rem;
                }

                /* footer */
                footer{
                    width: 100%;
                    background: rgb(21, 20, 20);                    
                    display: grid;
                    grid-template-columns: 1fr;
                    justify-content: center;
                    align-items: start;
                    color: white;
                    padding: 2rem;
                    gap: 2rem;

                }
                footer > h1{
                    letter-spacing: 0px;
                    text-transform: uppercase;
                    width: 70%;
                    line-height: 1;
                }
                footer > h2{
                    font-weight: 100;
                }
                footer ul{
                    display: flex;
                    gap: 1.5rem;
                }
.socials{
    color: white;
    font-size: 2rem;
}
       .desktop-head {
      display: none;
       }

/* tablet layout starts here */
@media screen and (min-width: 426px){
.first-third{
    position: relative;
    flex-direction: row;
    gap: 0;
    height:120vh;
}
.first-third img{
position: absolute;
left: 0;
top: 0;
height:100%;
width: 60%;
object-fit: cover;
z-index: 1;
}
.first-third-text{
    position: absolute;
    right: 0px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    width: 50%;
    z-index: 2;
}


.first-third p{
    font-size: 16px;
    letter-spacing: 1px;
}
.right-side{
    width: 45%;
    font-size: 1.5rem;
}
    .second-third {
        gap: 1rem;
        margin: 8rem 0rem;
        padding: 0 2rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        "a a b b b"
        "c c c d d"
        "c c c e e";
    }
    .second-third h1{
    font-size: 2.5rem;
    line-height: 1;
    
}
.second-third p{
    font-size: 1.2rem;
}
    .first-elm{
        grid-area: a;
        padding: 2rem 4rem 2rem 0rem;
}
      .second-elm{
        grid-area: b;
    }
      .third-elm{
        grid-area: c;
    }
      .fourth-elm{
        grid-area: d;
    }
      .fifth-elm{
        grid-area: e;

        }
.second-third img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.second-third > * {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.highlight-lower{
padding: 4rem 2rem;
}
.highlight-lower p{
color: white;
font-size: 1.2rem;
}
.highlight-lower h1{
    font-size: 2.2rem;
    line-height: 1;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer h1{
    font-size: 1.5rem;
    width:5rem;
    justify-self: start;
}
footer h2{
    font-size: 1rem;
    max-width: 300px
}

.socials{
    font-size: 1.5rem;
    justify-self: end;
}
} 
/* desktop styling begins here */
@media screen and (min-width: 769px)
{
    .black-block{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 35%;
        height: 100%;
        background: black;
        z-index: 2;
    }
    .first-third{
        height: 100vh;
    }
    .first-third img{
        width: 70%;
    }
    .first-third-text{
        width: 40%;
    }
    .first-third p{
        padding-right: 7rem;
       color: #0d0d0d;
    }
    .first-third h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
    .desktop-head {
        display: inline-block;
        position: absolute;
        left: 19%;
        top: 35%;
        transform: translate(-19%, -35%);
        z-index: 3;
        color: white;
       }

    .mobile-tablet-head{
        display: none;
    }
    .color-split-link{
        width: 60%;
        font-size: 0.7rem;
    }
    .color-split-link h2{
        font-weight: 500;
    }
    span{
        color: black;
    }
    .second-third{
        padding: 0 8rem;
    }
     footer h1 {
        width: 8rem;
     }
}